.header {
    width: 100%;
    position: absolute;
    top: 0;
    z-index: 100;
}
.nav, .nav_list{
    display: flex;
    justify-content: space-between;
}
.nav_list{
    width: 200px;
    max-height: 62px;
    margin: 40px 45px;
}
.nav_list_item a {
    display: block;
    height: 100%;
}