@import url('https://fonts.googleapis.com/css2?family=B612+Mono:ital@1&family=Bad+Script&display=swap');
.main {
    width: 100vw;
    height: 100vh;
    background-color: #FBF3E5;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container{
    height: 97%;
    margin-top: 0.6%;
    position: relative;
}
.book{
    width: 100% !important;
    height: 100% !important;
}
.page {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.book_bg{
    height: 100%;
    width: auto;
    top: 0;
    left: 0;
}
.book_page{
    width: 90%;
    height: 89.5%;
    position: absolute;
    top: 3%;
    left: 5.2%;
}
.page_bg{
    width: 100%;
    z-index: -10;
    position: absolute;
    top: 0;
}
.close {
    position: absolute;
    width: 20px;
    top: 4%;
    right: 6%;
    z-index: 30;
}
.finger {
    position: absolute;
    width: 40px;
    bottom: 3%;
    right: 5.4%;
}
.close svg, .finger svg {
    width: 100%;
    height: auto;
}
.content {
    padding: 0 9% 6%;
    width: 100%;
    z-index: 20;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}
.description{
    font-size: 16px;
    color: #262626;
    font-family: 'Bad Script';
    font-style: italic;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-align: center;
}
.popper_gerb{
    width: 75% !important;
}
.popper_baron{
    width: 80% !important;
}
.tourist_walk {
    width: 70% !important;
}

@media screen and (min-width: 1800px) {
    .close {
        width: 49px;
    }
    .finger {
        width: 72px;
    }
    .description{
        font-size: 38px;
    }
    .popper_image_gerb{
        height: 100% !important;
    }
}