@import url('https://fonts.googleapis.com/css2?family=B612+Mono:ital@1&family=Bad+Script&display=swap');
 .main {
	 width: 100vw;
	 height: 100vh;
	 background-color: #fbf3e5;
	 display: flex;
	 justify-content: center;
	 align-items: center;
}
 .container {
	 height: 97%;
	 margin-top: 0.6%;
	 position: relative;
}
 .book {
	 width: 100% !important;
	 height: 100% !important;
}
 .page {
	 display: flex;
	 flex-direction: column;
	 justify-content: center;
	 position: relative;
}
 .book_bg {
	 height: 100%;
	 width: auto;
	 top: 0;
	 left: 0;
}
 .book_page {
	 width: 90%;
	 height: 89.5%;
	 position: absolute;
	 top: 3%;
	 left: 5.2%;
}
 .page_bg {
	 width: 100%;
	 z-index: -10;
	 position: absolute;
	 top: 0;
}
 .close {
	 position: absolute;
	 width: 20px;
	 top: 4%;
	 right: 6%;
	 z-index: 30;
}
 .finger {
	 position: absolute;
	//  width: 40px;
	 height: 50px;
	 width: 50px;
	 bottom: 6%;
	 right: 8%;
	 z-index: 30;
}

.finger_left {
	transform: scaleX(-1);
	left: 4%;
}
 .close svg, .finger svg {
	 width: 100%;
	 height: auto;
}
 .content {
	 padding: 0 9% 6%;
	 width: 100%;
	 z-index: 20;
	 display: flex;
	 flex-direction: column;
	 justify-content: center;
	 align-items: center;
}
 .description {
	 font-size: 16px;
	 text-align: center;
     font-family: 'Bad Script';
     margin-top: 10px;
}
 .description b {
	font-family: 'B612 Mono';
	font-weight: normal;
}
.popper_gerb {
	 width: 75% !important;
}
.popper_baron {
	 width: 80% !important;
}
.tourist_walk {
	 width: 70% !important;
}
.track_video{
    width: 98%;
}
.video_vertical {
    width: 60%;
}
 @media screen and (min-height: 1000px) {
	 .description .popper_gerb .close {
		 width: 49px;
	}
	 .description .popper_gerb .finger {
		 width: 92px;
	}
	 .description .popper_gerb .description {
		 font-size: 24px;
	}
	 .description .popper_gerb .popper_image_gerb {
		 height: 100% !important;
	}
    .description {
        font-size: 28px;
    }
}
 @media screen and (min-height: 1450px) {
	 .description {
		 font-size: 38px;
	}
	.close {
		width: 40px;
	}
	.finger {
		height: 100px;
		width: 100px;
	}
	.finger_left {
		width: 100px;
		height: 100px;
	}
}