.container {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  position: relative;
  overflow: hidden;
}

.home_bg {
  height: 100%;
  position: absolute;
  top: 0;
}

.train {
  height: 45.23%;
  display: flex;
  align-items: flex-end;
  z-index: 10;
  position: relative;
  top: 45%;
  left: 60vw;
  transition: all .3s linear;
}

.smoke {
  position: absolute;
  background-blend-mode: screen;
}

.no_user_drag {
  -webkit-user-drag: none;
  /* Для Safari */
  -user-drag: none;
  /* Заборонити перетягування */
}

.train_head,
.train_car {
  position: relative;
}

.train_head {
  height: 100%;
}

.train_car {
  height: 59.4%;
  bottom: -1%;
}

.train_head svg,
.train_car svg {
  height: 100%;
}

.train_head {
  margin-right: -1.92%;
}

.train_car_box {
  position: absolute;
  top: 50.2%;
  left: 31%;
  width: 35.25%;
  height: 15.2%;
  // border-radius: 15px;
  background-color: #C4C4C4;
  display: flex;
  justify-content: center;
  align-items: center;
}

.train_car_link {
  color: #9D072B;
  text-shadow: 2px 2px 20px rgba(0, 0, 0, 0.25);
  font-family: 'Montserrat Alternates', sans-serif;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  cursor: pointer;
  user-select: none;
  font-size: 2vh;
  text-align: center;

  &:hover {
    text-decoration: none;
    color: #9D072B;
    transform: scale(1.05);
    transition: all .2s;
  }
}

.hand {
  position: absolute;
  height: 8%;
  bottom: 0;
  right: 0;
  z-index: 20;
}

.hand svg {
  height: 100%;
}

.wheel {
  height: 16.6%;
  z-index: 10;
  position: absolute;
  bottom: -0.5%;
}

.wheel svg {
  height: 100%;
}

.wheel_line,
.wheel_line_2 {
  width: 3.7%;
  height: 0.96%;
  position: absolute;
  bottom: 7.2%;
  z-index: 20;
  background: #C4C4C4;
}

.wheel_line {
  left: 5.5%;
}

.wheel_line_2 {
  left: 12.3%;
}

.wheel_1 {
  left: 4.3%;
}

.wheel_2 {
  left: 8.16%;
}

.wheel_3 {
  left: 11.1%;
}

.wheel_4 {
  left: 14.96%;
}
.page_title {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 38%;
  height: 6.2%;
  aspect-ratio: 13 / 1;
  color: #B0ADAC;
  text-align: center;
  text-shadow: 4px 4px 30px rgba(0, 0, 0, 0.15);
  font-family: 'Montserrat Alternates';
  font-size: 22px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

@media screen and (min-height: 900px) {
  .page_title {
    font-size: 30px;
  }
}

@media screen and (min-height: 1000px) {
  .page_title {
    font-size: 35px;
  }
}

@media screen and (min-height: 1300px) {
  .page_title {
    font-size: 40px;
  }
}

@media screen and (min-height: 1440px) {
  .page_title {
    font-size: 45px;
  }
}