.container {
  max-width: 2500px;
  height: 1616px;
  position: relative;
  background: url(../../assets/images/game/game-background.svg) no-repeat;
  background-size: cover;
  z-index: 0;
  overflow: hidden;
}
  
.train {
  width: 5236px;
  z-index: 10;
  position: relative;
  top: 48%;
}