.main {
    width: 100vw;
    height: 100vh;
    background-color: #FBF3E5;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container{
    height: 97%;
    margin-top: 0.6%;
    position: relative;
}
.book_bg{
    height: 100%;
    width: auto;
    top: 0;
    left: 0;
}
.book_page{
    position: absolute;
}