#swipe:hover{
    transform: scale(1.07);
    transition: all .2s;
}
.hand {
    transform: translateX(0) scale(1);
    animation: 2s linear infinite translateHand;
    animation-delay: 0s, 1s;
    cursor: pointer;
}
#arrow {
    position: absolute;
    right: 0;
}

@keyframes translateHand {
    5% {
        transform: translate(-12%, 3%) rotate(-8deg) scale(1.05);
    }
    15% {
        transform: translateX(0) scale(1);
    }
    65% {
        transform: translateX(0) scale(1);
    }
}